@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

body > div {
	padding: 1vh 20vh;
}

h1 {
	text-transform: bold;
}

h1, h2, p {
	margin: 10px auto;
}


#section-1 h1#title {
	text-transform: uppercase;
	color: grey;
}

#section-1 h2#author {
	color: blue;
	letter-spacing: .10em;
}

#section-1 p {
	max-width: 500px;
}

#section-2 ul {
	text-align: center;
	list-style-type: none;
	padding: 5px 0;
}

.trait {
	color: green;
	margin-bottom: .5em;

}

form {
	margin: auto;
	margin-top: 20px;
	max-width: 500px;
}

form > * {
	margin: 10px 0;
}

form div > label {
	color: maroon;
}

form label:not([for=message]){
	width: 125px;
	display:inline-block;
	text-align: left;
}

form div > input {
	width: 250px;
	text-align: left;
	padding-left: .25em;
	border: 2px solid maroon;
	padding: .2em;
}

div.message{
	margin-top: 25px;
	margin-bottom: 15px;
}


textarea {
	width: 75%;
	border: 2px solid maroon;
}

form > button {
	background-color: maroon;
	color: white;
	height: 25px;
	width: 100px;
	font-size: 1.1rem;
	border-style: none;
	border-radius: 5px;
}

