div.project {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  transition: all 500ms !important;
  width: 90vw;
  margin: auto;
}

div.project:hover {
  background-color: lightgoldenrodyellow;
  transform: translateX(10px) !important;
}

div.project > * {
  flex: 1;
}

div.project > .image {
  margin-right: 150px;
}

div.project > .description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  div.project > .image {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1000px) {
  div.project {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  div.project > .image {
    margin: 0;
    margin-bottom: 50px;
  }

  div.project > .description {
    padding: 0 25px;
  }
}

/* div.project:hover {
  background-color: lightgoldenrodyellow;
  margin-left: 75px;
} */

div.project > div.image {
  min-width: 600px;
  max-width: 600px;
}

@media screen and (max-width: 720px) {
  div.project > div.image {
    min-width: 450px;
  }
}

@media screen and (max-width: 570px) {
  main#belowNav {
    margin-top: 100px;
  }

  div.project > div.image {
    min-width: 375px;
  }
}

@media screen and (max-width: 425px) {
  div.project > div.image {
    min-width: 300px;
    margin-bottom: 25px;
  }

  div.project > div.description {
    padding: 5px;
  }
}

div.project img {
  width: 100%;
}
