div#slogan {
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;
}

div#slogan .quote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 50%;
  padding: 3rem 0;
  height: 300px;
}

div#slogan .quote > * {
  text-align: center;
}

div#slogan .image {
  flex: 0 0 50%;
}

div#slogan img {
  width: 100%;
}

.section-break {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

#projects {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
}

#projects > * {
  padding: 10px;
}

#projects .carousel-container {
  flex: 2;
}

#projects .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description > * {
  margin-bottom: 1rem;
}

.carousel {
  position: relative;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  #projects {
    flex-direction: column;
  }

  #projects .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    height: 375px;
    width: 600px;
  }
}

@media screen and (max-width: 680px) {
  .carousel {
    height: 312.5px;
    width: 500px;
  }

  button.carousel-button {
    font-size: 40px;
  }
}

@media screen and (max-width: 570px) {
  .carousel {
    height: 250px;
    width: 400px;
  }

  button.carousel-button {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .carousel {
    height: 200px;
    width: 300px;
  }
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container {
  background-color: lightslategrey;
  height: 100%;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.carousel-track {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-container button {
  border: 0;
}

.carousel-container button:focus {
  outline: none;
}

.carousel-button {
  position: absolute;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #ebebeb;
  width: 10%;
  background-color: transparent;
}

.carousel-button:hover {
  color: white;
}

.carousel-button-left {
  left: 0;
}

.carousel-button-right {
  right: 0;
}

.carousel-nav {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-indicator {
  margin: 0 3px;
  width: 30px;
  height: 5px;
  background-color: #8f8f8f;
}

.carousel-indicator.current-slide {
  background-color: #4a4a4a;
}

@media screen and (max-width: 720px) {
  div#slogan {
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
  }
}
