@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chilanka", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
}

nav.navbar {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  z-index: 2;
}

nav.navbar > * {
  margin: 1rem;
}

nav.navbar a:hover {
  text-decoration: none;
  color: inherit;
}

nav.navbar h1 {
  text-align: center;
}

nav.navbar ul {
  flex-direction: row;
  justify-content: center;
}

nav.navbar ul li a {
  padding: 0 3rem;
  font-size: 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin-left: -1px;
  transition: 150ms;
}

nav.navbar ul li a:hover {
  text-decoration: none;
  font-size: 21px;
  color: inherit;
}

nav.navbar ul li a > * {
  margin: 0px 10px;
}

div.burger {
  display: none;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  z-index: 3;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #30302e;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

main#belowNav {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  z-index: 0;
}

footer#footer {
  position: relative;
  background-color: white;
  height: 75px;
  width: 100%;
  border-top: 1px solid lightgrey;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer#footer > * {
  margin: 0;
}

@media screen and (max-width: 720px) {
  nav.navbar ul li a {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 570px) {
  nav.navbar {
    padding: 0;
  }

  nav.navbar h1 {
    text-align: start;
    font-size: 35px;
    padding-left: 15px;
    padding-top: 5px;
  }

  nav.navbar ul {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    margin-top: -10px;
  }

  nav.navbar ul.toggle {
    display: block;
  }

  nav.navbar ul li {
    margin: 0;
    height: 4rem;
  }

  nav.navbar ul li a {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border: 0;
    margin: 0;
  }

  nav.navbar ul li a:hover {
    background-color: #fcfcf7;
  }

  nav.navbar ul li a > * {
    width: 45px;
    text-align: center;
  }

  nav.navbar div.burger {
    display: block;
  }

  main#belowNav {
    margin-top: 50px;
    z-index: 0;
  }
}
