* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.container {
			border-width: 1px;
			border-color: black;
			border-style: solid;
		}

		.box {
			height: 100px;
			width: 100px;
			background-color: orange;
			margin: 10px;
		}

		.flex {
			display: flex;
		}

		#section1 {
			justify-content: center;
		}

		#section2 {	
			justify-content: center;
		}

		#section3 {
			justify-content: space-around;
			padding: 0.5rem;
		}

		#section4 {
			justify-content: center;
			align-items: center;
			height: 200px;
		}

		#section5 {
			height: 200px;
		}

		#section5 #left {
			width: 25%;
			justify-content: center;
			align-items: center;

		}#section5 #right {
			width: 75%;
			justify-content: space-around;
			align-items: center;

		}

		.section6 {
			display: flex;
			justify-content:space-around;
			padding: 0.5rem;
		}

